<?xml version="1.0" encoding="UTF-8"?>

<launch>


    <!--<include file="$(find training_world)/launch/training_world_gazebo.launch"/>-->
    <!--spawn a robot in gazebo world-->
    <include file="$(find simple_arm)/launch/simple_arm_xacro.launch"/>
        <!-- Send robot states to tf -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
    <!-- RVIz -->
    <!--launch rviz-->
    <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find training_world)/rviz/simple.rviz"/>
    <!-- TF for rviz-->
    <node pkg="tf" type="static_transform_publisher" name="tf_static" args="0 0 0 0 0 0 /map /world 10"/>

</launch>